@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables */
:root {
  --text: #ffffff;
  --primary: #1a0b2e;
  --secondary: #00ff88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background: var(--primary);
  height: 92px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.logo span {
  background: linear-gradient(
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
  column-gap: 32px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  padding: 12px 16px;
  border-radius: 30px;
  color: var(--text);
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  cursor: pointer;
  font-size: 16px;
  font-weight: 550;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.nav-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: var(--primary);
}

#banner {
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 100px 0px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-content h1 {
  font-size: 60px;
  color: var(--text);
  font-weight: 800;
  line-height: 60px;
  padding-top: 40px;
}

.banner-content p {
  color: var(--text);
  font-size: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.banner-img {
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img img {
  width: 150px;
  height: 200px;
}

.banner-btns {
  display: flex;
  column-gap: 8px;
}

.btn-subscribe {
  background: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

#about {
  background: var(--primary);
}

.section_title {
  font-size: 48px;
  color: var(--text);
  font-weight: 700;
  text-align: center;
}

.hr {
  margin-top: 80px;
  margin-bottom: 80px;
}
.section_description {
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.6;
}

.about-cards {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  padding-bottom: 40px;
}
.about-card {
  padding: 6px 16px;
}
.about-card h3 {
  color: var(--secondary);
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 10px;
}

.about-card p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  text-align: center;
  opacity: 0.6;
}

#choose {
  background: #230e3d;
  padding: 120px 0;
}

.choose-content h2 {
  margin-bottom: 40px;
}

.showcase {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.show-box {
  padding: 40px;
  border-radius: 30px;
  background: #2a0f4d;
}
.show-box h3 {
  padding: 16px 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--text);
}

.show-box p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  opacity: 0.6;
}

.big-row {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.big-col {
  grid-column: span 2;
}

#feature {
  padding: 120px 0;
  background: var(--primary);
}
.feature-content h2 {
  margin-bottom: 40px;
}

.episode_details {
  background: #250d44;
  padding: 24px;
}

.episode_details h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text);
}

.episode_details p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  padding: 8px 0;
  opacity: 0.6;
}

.episode_details .time {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary);
  display: flex;
  column-gap: 8px;
  justify-content: start;
  align-items: center;
}

iframe {
  display: block;
  width: 100%;
  height: 200px;
}

.episodes {
  display: flex;
  column-gap: 30px;
}

#contact {
  background: var(--primary);
  padding: 120px 0;
}

.contact-content {
  display: flex;
  column-gap: 24px;
  background-color: #271045;
  padding: 40px;
  border-radius: 30px;
  margin-top: 40px;
}

.contact-content h3 {
  font-size: 32px;
  font-weight: bold;
  color: var(--text);
  padding-bottom: 20px;
}

.contact-content p {
  font-size: 16px;
  color: var(--text);
  padding-bottom: 20px;
  opacity: 0.6;
}

.contact-img {
  max-width: 200px;
  max-height: 200px;
}

.contact-social {
  display: flex;
  column-gap: 8px;
}

.contact-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #533c72;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

footer {
  background: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}
footer .logo {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 30px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
  column-gap: 40px;
  list-style: none;
  margin-bottom: 30px;
}

footer ul li a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  column-gap: 8px;
  align-items: center;
  color: var(--text);
  opacity: 0.6;
}
footer ul li a:hover {
  opacity: 1;
}

.copyright {
  font-size: 16px;
  color: var(--text);
  opacity: 0.6;
}
